.tower {
    background-image: url('./assets/stand.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 375px;
    z-index: 1;
    padding-bottom: 140px;
  }


